# Generate stackoverflow tag co-occurance matrix for network construction

In [1]:
pwd()

'/Users/alexandrarottenkolber/Documents/05_Spatial_Inequalities/The-Technology-Space-and-Digital-Development/code_alexandra'

In [1]:
import pandas as pd
import numpy as np
import itertools
from collections import Counter

In [2]:
count = 0
for chunk in enumerate(pd.read_csv("../../Alexandra/data/stackoverflow.csv", chunksize=1000)):
    count += 1
    if count == 1: 
        df = chunk[1].copy()
    else: 
        break

In [3]:
df = pd.read_csv("../../Alexandra/data/stackoverflow.csv", low_memory=False)

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.head()

,_id,id,tags
0,61b778e8fc9434398d505a27,7524441,wpf|visual-studio-2010|enterprise-library
1,61b778e8fc9434398d505a28,2336818,c#|visual-studio|solution|vs-extensibility|vsp...
2,61b778e8fc9434398d505a29,27350559,c#|inheritance|ef-code-first|entity-framework-...
3,61b778e8fc9434398d505a2a,1752242,c#|generics|reflection
4,61b778e8fc9434398d505a2b,28181370,angularjs|select|angular-ui-router|single-page...

In [6]:
no_tag = len(df[df['tags'].apply(lambda x: isinstance(x,float))])
print("There are", no_tag , "observations that do not have tags.")
print("This equals", int(round(no_tag/len(df), 2)*100), "%.")# there are 17362901 observations that do not have tags

There are 17362901 observations that do not have tags.
This equals 72 %.

In [7]:
df = df[df['tags'].notna()]
len(df)

6604020

In [8]:
# find unique tags
splitted_list = [string.split("|") for string in list(df["tags"])]
splitted_list_flat = [str_ for sublist in splitted_list for str_ in sublist]
unique_tags = list(set(splitted_list_flat))
unique_ids = list(set(list(df["_id"])))
len(unique_tags), len(unique_ids)

(50787, 6604020)

In [9]:
# how often does each tag show up? 

tag_counts = Counter(splitted_list_flat)

In [10]:
tag_counts_df = pd.DataFrame.from_dict(tag_counts, orient='index').reset_index().rename(columns = {"index": "tag", 0: "occurence_count"})
tag_counts_df = tag_counts_df.sort_values(by = "occurence_count", ascending=False)
tag_counts_df.head()

            tag  occurence_count
101  javascript           679124
87         java           556923
3            c#           549945
102         php           473470
151     android           460460

In [11]:
# select top 1000 tags
top_1000_tags_df = tag_counts_df.head(1000).copy()
top_1000_tags_ls = list(top_1000_tags_df["tag"])
top_1000_tags_df.head()

            tag  occurence_count
101  javascript           679124
87         java           556923
3            c#           549945
102         php           473470
151     android           460460

# takes too long to run
splitted_list_filtered = []
for sublist in splitted_list: 
    sublist_filtered = []
    for item in sublist: 
        if item in set(top_1000_tags_ls): 
            sublist_filtered.append(item)
    splitted_list_filtered.append(sublist_filtered)

In [36]:
splitted_list_filtered = [[x for x in sublist if x in set(top_1000_tags_ls)] for sublist in splitted_list]

KeyboardInterrupt:

In [ ]:
# Prepare data to calculate co-coocurence matrix 

# 1 dataframe from tags
# 2 one-hot-encodings
# 3 combine column headers and count 

tag_df = pd.get_dummies(pd.DataFrame(splitted_list_filtered), prefix='', prefix_sep='').groupby(level=0, axis=1).sum()
tag_df.head()

In [ ]:
# Calculate co-coocurence matrix with matrix multiplication

tag_df_asint = tag_df.astype(int)
coocc = tag_df_asint.T.dot(tag_df_asint)
np.fill_diagonal(coocc.values, 0)
coocc.head()

In [ ]:
# cooccurence matrix to dictionary
coocc_dic = coocc.to_dict()

In [ ]:
# create dataframe represnting a network
tag1_ls = []
frames = []

for tag1, tag_dic in coocc_dic.items():
    tag1_ls.append(tag1)
    frames.append(pd.DataFrame.from_dict(tag_dic, orient='index'))

network_df = pd.concat(frames, keys=tag1_ls)
network_df = network_df.reset_index().rename(columns = {"level_0" : "tag1", "level_1" : "tag2", 0: "cooccurence"})

In [ ]:
df_complete[df_complete["cooccurence"] > 10].head(40)